{%- liquid
  assign block_settings = block.settings
  assign product = closest.product
  
  # Get size guide page from product metafield
  assign size_guide_page = product.metafields.custom.size_guide_page.value
  
  # Only render if size guide page is set
  if size_guide_page == blank
    assign size_guide_page = null
  endif
-%}

{%- if size_guide_page != blank -%}
  <script
    src="{{ 'dialog.js' | asset_url }}"
    type="module"
  ></script>

  <dialog-component
    class="size-guide"
    {{ block.shopify_attributes }}
  >
    <button
      on:click="/showDialog"
      class="button button-unstyled size-guide__button spacing-style {{ block_settings.type_preset }}"
      style="{% render 'spacing-style', settings: block_settings %}"
      aria-haspopup="dialog"
    >
      {{- block_settings.button_text | default: 'Size Guide' -}}
      {%- if block_settings.show_icon -%}
        {{- 'icon-external.svg' | inline_asset_content -}}
      {%- endif -%}
    </button>

    <dialog
      ref="dialog"
      class="size-guide__content dialog-modal color-{{ settings.popover_color_scheme }}{% if block_settings.behavior == 'drawer' %} size-guide__content--drawer dialog-drawer{% endif %}"
      scroll-lock
      aria-labelledby="size-guide-heading"
      aria-modal="true"
      role="dialog"
    >
      <button
        ref="closeButton"
        on:click="/closeDialog"
        class="button button-unstyled close-button size-guide__close"
        aria-label="{{ 'accessibility.close_dialog' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
      
      <h2
        id="size-guide-heading"
        class="size-guide__title{% if block_settings.hide_title %} visually-hidden{% endif %}"
      >
        {{ size_guide_page.title | default: 'Size Guide' }}
      </h2>
      
      <div class="size-guide__inner">
        <rte-formatter>
          {{ size_guide_page.content }}
        </rte-formatter>
      </div>
    </dialog>
  </dialog-component>
{%- endif -%}

{% stylesheet %}
  .size-guide__button {
    text-align: left;
  }

  .size-guide__button svg {
    display: inline-block;
    position: relative;
    top: var(--margin-2xs);
    margin-inline-start: var(--margin-2xs);
  }

  .size-guide__content {
    box-shadow: var(--shadow-popover);
    border: var(--style-border-popover);
    border-radius: var(--style-border-radius-popover);
    background-color: var(--color-background);
    padding: var(--padding-4xl) var(--padding-xl) var(--padding-xl);
    max-width: var(--normal-content-width);
    max-height: var(--modal-max-height);
    overflow-y: auto;

    @media screen and (min-width: 750px) {
      padding: var(--padding-5xl);
    }
  }

  .size-guide__content[open] {
    animation: modalSlideInTop var(--animation-speed) var(--animation-easing) forwards;
  }

  .size-guide__content.dialog-closing {
    animation: modalSlideOutTop var(--animation-speed) var(--animation-easing) forwards;
  }

  .size-guide__content--drawer {
    position: fixed;
    border-radius: 0;
    width: var(--sidebar-width);
    max-width: 95vw;
    height: 100%;
    margin: 0 0 0 auto;
  }

  /* Needed to ensure the drawer is full height */
  .size-guide__content--drawer:modal {
    max-height: 100dvh;
  }

  .size-guide__close {
    position: absolute;
    top: var(--margin-2xs);
    right: var(--margin-2xs);
    opacity: 0.8;
    animation: none;
    z-index: var(--layer-raised);
  }

  .size-guide__close:active {
    transform: scale(0.8);
  }

  .size-guide__title {
    margin-block-start: 0;
    margin-block-end: var(--margin-xl);
  }

  .size-guide__inner {
    width: 100%;
  }

  /* Ensure tables in size guides are responsive */
  .size-guide__inner table {
    width: 100%;
    border-collapse: collapse;
    margin-block: var(--margin-md);
  }

  .size-guide__inner table th,
  .size-guide__inner table td {
    padding: var(--padding-sm);
    text-align: left;
    border: 1px solid rgb(var(--color-foreground-rgb) / var(--opacity-10));
  }

  .size-guide__inner table th {
    font-weight: 600;
    background-color: rgb(var(--color-background-rgb) / var(--opacity-50));
  }

  @media screen and (max-width: 749px) {
    .size-guide__inner table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.size_guide",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:settings.button_text",
      "default": "Size Guide",
      "info": "t:info.size_guide_button_text"
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "label": "t:settings.show_icon",
      "default": true
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "link",
          "label": "t:options.link"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "link",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "header",
      "content": "t:content.popup"
    },
    {
      "type": "select",
      "id": "behavior",
      "label": "t:settings.behavior",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "drawer",
          "label": "t:options.drawer"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "hide_title",
      "label": "t:settings.hide_title",
      "default": false,
      "info": "t:info.size_guide_hide_title"
    },
    {
      "type": "header",
      "content": "t:content.link_padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.size_guide",
      "category": "t:categories.product",
      "settings": {
        "button_text": "Size Guide",
        "show_icon": true,
        "type_preset": "link"
      }
    }
  ]
}
{% endschema %}

